
.container {
  border: solid 2px #666;
  border-radius: 6px;
  -moz-box-shadow: 4px 4px 2px #999;
  -webkit-box-shadow: 4px 4px 2px #999;
  box-shadow: 4px 4px 2px #999;
  font-size: 12px;
  height: 100%;
  line-height: 16px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
  top: 120px;
  width: 960px;
}

.container p {
  padding: 4px;
  vertical-align: middle;
}


.container p span{
  border: solid 2px #ccc;
  border-radius: 6px;
  display: inline-block;
  margin-left: 6px;
  padding: 2px 8px;
  width: 60%;
}

.container p span:first-child{
  width: 60px;
}

.post {
  background: rgb(181,189,200);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  border-radius: 6px;
  color: #ddd;
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  letter-spacing: 4px;
  line-height: 80px;
  width: 80px;
}

.blog {
  border: solid 2px #ccc;
  border-radius: 6px;
  display: inline-block;
  height: 100%;
  letter-spacing: 1px;
  min-height: 600px;
  margin: 0 auto;
  padding: 10px 10px;
  text-align: left;
  width: 97%;
}
