.chat {
  background-color: #fcfcfc;
  border: solid 2px #666;
  border-radius: 6px;
  -moz-box-shadow: 4px 4px 2px #999;
  -webkit-box-shadow: 4px 4px 2px #999;
  box-shadow: 4px 4px 2px #999;
  height: 620px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  width: 960px;
}

#list {
  background-color: #fcfcfc;
  border-right: solid 2px #666;
  border-radius: 6px;
  float: left;
  height: 614px;
  overflow-y: auto;
  padding: 2px;
  width: 250px;
}

#list div {
  background-color: #333;
  border-radius: 6px;
  color: #ddd;
  cursor: pointer;
  float: left;
  font-size: 20px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  margin-top: 2px;
  overflow-y: auto;
  padding: 2px;
  text-align: center;
  width: 244px;
}

#list p {
  background-color: #ddd;
  border-radius: 6px;
  cursor: pointer;
  float: left;
  height: 24px;
  line-height: 24px;
  margin-top: 2px;
  overflow-y: auto;
  padding: 2px;
  text-align: center;
  width: 244px;
}

.room {
  align-content: stretch;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 6px;
  float: left;
  height: 616px;
  padding: 2px;
  width: 696px;
}

#content {
  background-color: #fcfcfc;
  border-bottom: solid 2px #666;
  border-radius: 6px;
  height: 520px;
  margin: 2px 0;
  overflow-y: auto;
  padding: 2px;
  width: 696px;
}

.notice {
  border-radius: 6px;
  border: solid 2px #bbb;
  color: #222;
  display: block;
  font-weight: bold;
  margin: 0 auto 10px;
  padding: 6px;
  text-align: center;
  width: 80%;
}

.notice span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 100%;
}

.notice span:first-child {
  font-size: 20px;
  letter-spacing: 20px;
  text-shadow: 1px 1px 1px #222;
}

#message {
  background-color: #fcfcfc;
  border-radius: 6px;
  font-size: 12px;
  height: 74px;
  line-height: 100%;
  overflow-y: auto;
  padding: 6px;
  position: absolute;
  width: 600px;
}

#send {
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%, rgba(80,80,80,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(80,80,80,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(150,150,150,1) 0%,rgba(80,80,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
  border-radius: 6px;
  bottom: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 90px;
  letter-spacing: 6px;
  line-height: 84px;
  margin-right: 2px;
  position: absolute;
  right: -4px;
  text-align: center;
  text-shadow: 2px 2px 2px #333;
  width: 90px;
  z-index: 1;
}

#send:hover {
  background: rgb(149,149,149);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 );
}

.msg {
  padding: 4px;
  clear: both;
}

.msg p {
  /*display: inline-block;*/
  float: left;
  font-size: 14px;
  line-height: 20px;
  max-width: 80%;
  padding: 4px;
  text-align: left;
  vertical-align: middle;
  width: auto;
}

.msg p.right {
  float: right;
}

.msg p:first-child{
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%, rgba(80,80,80,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(150,150,150,1) 0%,rgba(80,80,80,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(150,150,150,1) 0%,rgba(80,80,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
  border: solid 2px #aaa;
  border-radius: 6px;
  color: #ccc;
  font-weight: bold;
  margin-right: 14px;
  max-width: 80px;
  text-align: center;
}

.msg p span {
  border-radius: 6px;
  display: inline-block;
  font-size: 8px;
  margin-bottom: 2px;
  margin-right: 6px;
  padding: 2px;
}

.msg p span:first-child {
  border: solid 1px #aaa;
  font-size: 12px;
  padding: 10px 20px;
}
