.header {
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
  height: 55px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.nav {
  height: inherit;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 960px;
}

.logo {
  display: inline-block;
  height: 45px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 6px;
  width: 61px;
}

.logo a{
  background: 0 8px url('/images/small_logo.png') no-repeat;
  display: inline-block;
  height: 100%;
  line-height: 100%;
  width: 100%
}

.nav-wrapper {
  display: inline-block;
  font-weight: bold;
  height: 100%;
  letter-spacing: 2px;
  line-height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 760px;
}

.nav-wrapper input {
  background-color: #e1eaf2;
  border: solid 1px #000;
  border-radius: 4px;
  box-sizing: border-box;
  /*color: #49525c;*/
  float: left;
  font-size: 12px;
  height: 32px;
  line-height: 17px;
  margin: 12px 0 0 10px;
  padding: 4px 20px 4px 10px;
  width: 320px;
}

.nav-wrapper button {
  background: rgb(125,126,125);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 );
  border: solid 1px #333;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
  cursor: pointer;
  float: left;
  height: 32px;
  margin: 12px 10px 0 -2px;
  padding: 0;
  width: 40px;
}

.nav-wrapper button span {
  background: -82px 0 url('/images/sprites.png') no-repeat;
  color: #e1eaf2;
  display: inline-block;
  height: 15px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 15px;
}

.nav-wrapper label {
  float: left;
  height: 54px;
  line-height: 54px;
  margin: 0;
  padding: 0 0 0 0;
  width: 76px;
}

.nav-wrapper label:hover, .active {
  background: rgb(181,189,200);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  border-radius: 2px;
  box-shadow: inset 0 0 2px rgba(0,0,0,.12);
  cursor: pointer;
}

.nav-wrapper label a {
  color: #f2f4f5;
  display: inline-block;
  font-size: 14px;
  height: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  vertical-align: middle;
  width: 100%;
}

.login {
  float: right;
  font-weight: bold;
  height: 32px;
  letter-spacing: 6px;
  margin: 0 10px 0 0;
  padding-top: 20px;
  width: 100px;
}

.login:hover {
  background: rgb(181,189,200);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  border-radius: 2px;
  box-shadow: inset 0 0 2px rgba(0,0,0,.12);
}

.login span {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 100%;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  vertical-align: middle;
  width: 100%;
}

.user {
  background: rgb(181,189,200);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .15);
  display: none;
  margin: 0;
  opacity: .9;
  padding: 0;
  position: absolute;
  width: 100px;
}

.user li {
  display: inline-block;
  height: 42px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.user li:hover {
  background: rgb(69,72,77);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
  border-radius: 2px;
  box-shadow: inset 0 0 2px rgba(0,0,0,.12);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}

.user li a {
  color: #f2f4f5;
  display: inline-block;
  font-size: 14px;
  height: 100%;
  line-height: 100%;
  padding: 12px 0;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.12);
  width: 100%;
}
