body {
  background-color: #fff;
  color: #555;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.banner {
  height: 80px;
  padding: 10px 0;
}

.header {
  height: 480px;
  margin: 0 auto;
  padding: 0;
  position: static;
  text-align: center;
  white-space: normal;
  width: 400px;
}

h1 {
  background: url('/images/logo.png') no-repeat;
  background-size: contain;
  height: 74px;
  margin: 0 auto;
  width: 160px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-top: 30px;
  text-align: center;
}

.navs {
  font-size: 18px;
  line-height: 1;
  margin-top: 20px;
  text-align: center;
}

.navs a {
  color: #555;
  display: inline-block;
  margin-right: 20px;
  opacity: .7;
  padding: 10px;
}

.navs a.active {
  border-bottom: 2px solid #0f88eb;
  color: #0f88eb;
  font-weight: 600;
}

.sign-wrapper {
  position: relative;
  height: 220px;
}

.signin, .signup {
  display: none;
  margin-top: 20px;
  padding: 0;
  position: absolute;
  width: 100%;
}

.signup {
  display: block;
}

input {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: normal;
  margin: 0;
  padding: 1em .8em;
  text-align: start;
  text-rendering: auto;
  width: 80%;
  word-spacing: normal;
}

label {
  color: #c33;
  display: none;
  opacity: .8;
  padding: 12px 30px;
  position: absolute;
  right: 22px;
}

button {
  background-color: #0f88eb;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  line-height: 15px;
  margin-top: 20px;
  text-align: center;
  width: 80%;
}

button:hover {
  opacity: .7;
}

p {
  color: #999;
  opacity: .8;
  padding: 1em .8em;
  text-align: right;
  width: 80%;
}

p a {
  color: #698ebf;
  cursor: pointer;
}

.anon {
  background-color: #fff;
  border: 1px solid #96c2e9;
  border-radius: 3px;
  color: #5fa6e5;
  display: inline-block;
  padding: 0;
}

.anon a {
  padding: 0;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100%;
}

.footer {
  padding-top: 60px;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
}

.footer span, .footer a {
  color: #aebdc9;
}

.footer .split {
  padding: 0 2px;
}

.suggest {
  background-color: #fff;
  border-radius: 50%;
  bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  cursor: pointer;
  height: 40px;
  line-height: normal;
  position: fixed;
  right: 60px;
  text-align: center;
  width: 40px;
  z-index: 999;
}

.suggest span {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNSAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+R3JvdXAgNjwvdGl0bGU+PGcgZmlsbD0iIzAwOEZFQiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTMgMTguM2MwLS40IDAtLjcuNC0xIC4yLS4yLjUtLjMuOC0uMy40IDAgLjcgMCAxIC40LjIuMi4zLjUuMyAxIDAgLjIgMCAuNS0uNC43IDAgLjQtLjQuNS0uOC41LS4zIDAtLjYgMC0uOC0uNC0uMyAwLS40LS40LS40LS43ek0xMCAxMC43di0xYy40LTEgMS41LTIuNyA0LjItMi43IDIgMCAzLjggMS40IDMuOCAzcy0xLjQgMi43LTIgMy4zYy0uOC42LTEgMS0xLjIgMS43LS4yLjYtLjYgMS0xLjMgMS0uMy0uMi0uNi0uMy0uNy0uNXYtLjhjMC0uMiAwLS43LjMtMS4ybDEuNC0xLjVjMS40LTEuMiAxLjYtMiAuOC0yLjgtLjUtLjQtMS42LS41LTIuMiAwLS44LjQtMSAxLTEuMiAxLjMtLjIuNS0uMyAxLTEuMyAxLS4zLS4yLS40LS40LS41LS44eiIvPjxwYXRoIGQ9Ik0yOS44IDEwLjJ2M2MxLjQgMS44IDIuMyA0IDIuMyA2LjMgMCAzLjgtMi4yIDctNS41IDl2My44bC0zLjctMi41LTMgLjNjLTIuOCAwLTQuMy0uOC02LjQtMi4yaC0zLjFDMTMgMzAuNCAxNS42IDMyIDIwIDMyYy44IDAgMS43IDAgMi42LS4ybDYgNHYtNi40YzMuNS0yLjQgNS43LTYgNS43LTEwIDAtMy42LTEuNy03LTQuNS05LjJ6TTE0LjQgMjUuNmM4IDAgMTMuMi02IDEzLjItMTNTMjEgMCAxNC40IDBDNi40IDAgMCA1LjcgMCAxMi43YzAgNCAxLjUgNy41IDQuNCAxMFYyOWw2LjMtMy42IDMuNy4yek0xNC4yIDJjNi41IDAgMTEuNSA1LjMgMTEuNSAxMUMyNS43IDE5IDIxIDI0IDE0LjQgMjRjLTEgMC0zLjYtLjMtNC41LS41TDYgMjUuN3YtNGMtMi43LTIuMi00LTUtNC04LjZDMiA3IDcgMiAxNCAyeiIvPjwvZz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  margin-top: 12px;
  vertical-align: middle;
  width: 18px;
}

.suggest span:hover {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNSAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+R3JvdXAgMTE8L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTI5LjQgMTNjMCAyLS4zIDguMi01IDExLjQtNC4zIDMtOSAzLjMtMTEuMyAzLjNoLTNjMi44IDIuNyA2LjYgNC44IDEyLjIgNCAxIDAgNi4zIDQgNi4zIDRWMjljMy41LTIuMyA1LjMtNS4yIDUuNi05LjUuMy0zLjctMS42LTctNC41LTkuNXYzem0tMTUgMTIuNmM4IDAgMTMuMi02IDEzLjItMTNTMjEgMCAxNC40IDBDNi40IDAgMCA1LjcgMCAxMi43YzAgNCAxLjUgNy41IDQuNCAxMFYyOWw2LjMtMy42IDMuNy4zeiIgZmlsbD0iIzAwOEZFQiIvPjxwYXRoIGQ9Ik0xMyAxOC4zYzAtLjQgMC0uNy40LTFzLjUtLjMuOC0uM2MuNCAwIC43IDAgMSAuNC4yLjIuMy41LjMgMSAwIC4yIDAgLjUtLjQuNyAwIC40LS40LjUtLjguNS0uMyAwLS42IDAtLjgtLjQtLjMgMC0uNC0uNC0uNC0uN3ptLTMtNy42di0xYy40LTEgMS40LTIuNyA0LjItMi43IDIgMCAzLjggMS40IDMuOCAzcy0xLjQgMi43LTIgMy4zYy0uOC42LTEgMS0xLjIgMS43LS4yLjYtLjYgMS0xLjMgMS0uMy0uMi0uNi0uMy0uNy0uNXYtLjhjMC0uMiAwLS43LjMtMS4ybDEuNC0xLjVjMS40LTEuMiAxLjYtMiAuOC0yLjgtLjUtLjQtMS42LS41LTIuMiAwLS44LjQtMSAxLTEuMiAxLjMtLjIuNS0uMyAxLTEuMyAxLS4zLS4yLS40LS40LS41LS44eiIgZmlsbD0iI0ZGRiIvPjwvZz48L3N2Zz4=');
}