<%- include header %>

  <%- include nav %>

    <link rel='stylesheet' href='/stylesheets/post.css' />

    <div class="bread">
      <span><a href="/">首页</a></span><span><a href="/">前端</a></span><span>html</span>
    </div>

    <div class="container">
      <div id="left">
        <div>
          热门
        </div>
        <div>
          标签
        </div>
        <div>
          分类
        </div>
        <div>
          友情
        </div>
      </div>
      <div id="right">
        <span>文章标题</span><span contenteditable="true" holdertext="文章标题"></span>
        <span>文章摘要</span><span contenteditable="true" holdertext="文章摘要"></span>
        <span>文章关键词</span><span contenteditable="true" holdertext="文章关键词"></span>
        <span>文章内容</span><span contenteditable="true" holdertext="文章内容"></span>
        <button type="button">发布</button>
      </div>
      <div style="text-align: center">
        zhelissss
      </div>
    </div>

    <%- include footer %>
