<%- include header %>

  <%- include nav %>

    <link rel='stylesheet' href='/stylesheets/blog.css' />

    <div class="container">
      <!--<div class="left">
        <div>
          热门
        </div>
        <div>
          标签
        </div>
        <div>
          分类
        </div>
        <div>
          友情
        </div>
      </div>-->
      <div class="right">
        <p>
          <span>文章标题</span><span contenteditable="true" holdertext="文章标题"></span>
          <button class="post" type="button">发布</button>
        </p>
        <p>
          <span>文章摘要</span><span contenteditable="true" holdertext="文章摘要"></span>
        </p>
        <p>
          <span>文章关键词</span><span contenteditable="true" holdertext="文章关键词"></span>
        </p>
        <!--<p>-->
          <!--<span class="blog" contenteditable="true" holdertext="文章内容"></span>-->
        <!--</p>-->
      </div>
        <div class="blog" contenteditable="true" holdertext="文章内容"></div>
    </div>

    <script type="text/javascript" src="/javascripts/blog.js"></script>

    <%- include footer %>
