<%- include header %>

<%- include nav %>

  <div class="chat">
    <div id="list" class="list">
      
    </div>
    <div class="room">
      <div id="content">
      </div>
      <div class="message">
        <span id="message" contentEditable="true"></span>
        <button id="send" type="button">发送</button>
      </div>
    </div>
  </div>

  <link rel='stylesheet' href='/stylesheets/chat.css' />
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/chat.js"></script>

<%- include footer %>
