<%- include header %>

  <%- include nav %>
    <script type="text/javascript" src="/js-cookie/src/js.cookie.js"></script>

    <link rel='stylesheet' href='/stylesheets/chat.css' />

    <div class="chat">
      <div id="list" class="list">
      </div>
      <div class="room">
        <div id="content">
          <p class="notice">
            <span>公告</span>
            <span>聊天室目前只支持中英文输入，不支持emoji表情，图片或者文件功能。</span>
          </p>
        </div>
        <span id="message" contenteditable="true"></span>
        <span id="send">发送</span>
      </div>
    </div>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>

    <%- include footer %>
