<%- include header %>

<%- include nav %>

  <div class="chat">
    <div class="list">
      list
    </div>
    <div class="room">
      <div class="hist">
        hist
      </div>
      <div class="cont">
        <textarea></textarea>
        <button type="button">发送</button>
      </div>
    </div>
  </div>

  <link rel='stylesheet' href='/stylesheets/chat.css' />
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/chat.js"></script>

<%- include footer %>
