<%- include header %>
  
  <div class="header">
    <h1></h1>
    <h2>
      <%= subtitle %>
    </h2>
    <div class="navs">
      <a class="active" href="#signup">注册</a>
      <a href="#signin">登录</a>
    </div>
    <div class="sign-wrapper">
      <div class="signup">
        <form method="post" action="/user/signup">
          <label>请输入正确字符</label>
          <input type="text" name="name" value="" placeholder="昵称" required="true">
          <label>请输入2-10个字符</label>
          <input type="text" name="password" value="" placeholder="密码" required="true">
          <label>请输入2-20个字符</label>
          <button type="submit">注册</button>
          <p>点击「注册」按钮，即代表你同意<a href="#xieyi">《好学协议》</a></p>
        </form>
      </div>
      <div class="signin">
        <form method="post" action="/user/signin">
          <label>请输入正确字符</label>
          <label>请输入2-10个字符</label>
          <input type="text" name="name" value="" placeholder="昵称" required="true">
          <label>请输入2-10个字符</label>
          <input type="text" name="password" value="" placeholder="密码" required="true">
          <label>请输入2-20个字符</label>
          <button type="submit">登录</button>
          <p><a href="#error">无法登录？</a></p>
        </form>
      </div>
    </div>
    <button class="anon" type="button"><a href="/index">游客</a></button>
  </div>
  <div class="footer">
    <span>© 2017 后学</span>
    <span class="split">·</span>
    <a href="#contact">联系我们</a>
    <span class="split">·</span>
    <a href="#join">加入我们</a>
    <br>
    <span>京 ICP 证 123456 号</span>
    <span class="split">·</span>
    <span>京公网安备 1234567890 号</span>
    <span class="split">·</span>
    <span>后学生证</span>
    <br>
    <span>你是第 <%= count %> 位访客</span>
  </div>
  <script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-1" count="250" src="/canvas-nest.js/dist/canvas-nest.min.js"></script>
  
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/entry.js"></script>
  <link rel='stylesheet' href='/stylesheets/entry.css' />

  <%- include footer %>
