<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
  <meta name="identifier-url" content="http://www.soonfy.com/" />
  <meta name="title" content="soonfy website" />
  <meta name="description" content="website by soonfy" />
  <meta name="abstract" content="study Node.js" />
  <meta name="keywords" content="soonfy, Node.js, express, socket.io" />
  <meta name="author" content="soonfy" />
  <meta name="revisit-after" content="15" />
  <meta name="language" content="zh-CN" />
  <meta name="copyright" content="© 2017 soonfy" />
  <meta name="robots" content="All" />
  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- github -->
  <div class="github">
    <div style="float:right;" id="github_iframe"></div>
  </div>
  <script type="text/javascript">
    function async_load() {
        //async load github
        var i = document.createElement("iframe");
        i.src = "https://ghbtns.com/github-btn.html?user=soonfy&repo=soonfy_chat&type=star&count=true";
        i.scrolling = "no";
        i.frameborder = "0";
        i.border = "0";
        i.setAttribute("frameborder", "0", 0);
        i.width = "100px";
        i.height = "20px";
        document.getElementById("github_iframe").appendChild(i);
    }
    if (window.addEventListener) {window.addEventListener("load", async_load, false);}
    else if (window.attachEvent) {window.attachEvent("onload", async_load);}
    else {window.onload = async_load;}
  </script>
