<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <h1></h1>
    <h2>
      <%= subtitle %>
    </h2>
    <div class="navs">
      <a href="#signin">登录</a>
      <a href="#signup">注册</a>
    </div>
    <div class="signin">
      <form>
        <input type="text" name="name" value="" placeholder="name">
        <input type="text" name="password" value="" placeholder="password">
      </form>
    </div>
    <div class="signup">
      <form>
        <input type="text" name="name" value="" placeholder="name">
        <input type="text" name="password" value="" placeholder="password">
      </form>
    </div>
  </div>
  <div class="button-wrapper">
    
  </div>
  <script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-1" count="250" src="/canvas-nest.js/dist/canvas-nest.min.js"></script>
</body>

</html>