<%- include header %>

  <link rel='stylesheet' href='/stylesheets/index.css' />

  <div class="header">
    <div class="nav">
      <div class="logo">
        <a href="/"></a>
      </div>
      <div class="nav-wrapper">
        <input type="text" name="key" value="" placeholder="输入关键词搜索...">
        <button type="button"><span></span></button>
        <label><a href="">首页</a></label>
        <label><a href="">推荐文章</a></label>
        <label><a href="">话题</a></label>
        <label><a href="">聊天室</a></label>
        <label><a href="">关于后学</a></label>
      </div>
      <div class="login">
        <span>登录</span>
        <ul class="user">
          <li><a href="">设置</a></li>
          <li><a href="">退出</a></li>
        </ul>
      </div>

    </div>
  </div>

  <%- include footer %>