<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <h1></h1>
    <h2>
      <%= subtitle %>
    </h2>
  </div>

  <script type="text/javascript" color="0,0,0" opacity='0.5' zIndex="-1" count="250" src="/canvas-nest.js/dist/canvas-nest.min.js"></script>
</body>

</html>
