<%- include header %>

  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <div style="float:right;" id="github_iframe"></div>
  <div class="header">
    <h1></h1>
    <h2>
      <%= subtitle %>
    </h2>
  </div>

<%- include footer %>
