<%- include header %>

  <%- include nav %>

    <link rel='stylesheet' href='/stylesheets/list.css' />

    <div class="container">
      <div id="left">
        <div>
          热门
        </div>
        <div>
          标签
        </div>
        <div>
          分类
        </div>
        <div>
          友情
        </div>
      </div>
      <div id="right">
        <div>
          文章1
        </div>
        <div>
          文章2
        </div>
        <div>
          文章3
        </div>
        <div>
          文章4
        </div>
        <div>
          文章5
        </div>
      </div>
      <div style="text-align: center">
      zhelissss
      </div>
    </div>

    <%- include footer %>
