<link rel='stylesheet' href='/stylesheets/nav.css' />

<div class="header">
  <div class="nav">
    <div class="logo">
      <a href="/home.html"></a>
    </div>
    <div class="nav-wrapper">
      <!--<input type="text" name="key" value="" placeholder="输入关键词搜索...">-->
      <button type="button"><span></span></button>
      <label><a href="/home.html">首页</a></label>
      <label><a href="/blog.html">博文</a></label>
      <label><a href="/chat.html">聊天室</a></label>
      <label><a href="/tool.html">工具</a></label>
      <label><a href="/about.html">关于博主</a></label>
    </div>
    <div class="login">
      <span><%= name %></span>
      <ul class="user">
        <li><a href="/post.html">发文</a></li>
        <li><a href="/user/logout.html">退出</a></li>
      </ul>
    </div>

  </div>
</div>

  <% if (bread.length > 0){ %>
    <div class="bread">
      <% for(var index = 0, len = bread.length; index < len; index++){ %>
        <% if(bread[index].href){ %>
          <span><a href="<%= bread[index].href %>"><%= bread[index].name %></a></span>
        <% } else { %>
          <span><%= bread[index].name %></span>
        <% } %>
      <% } %>
    </div>
  <% } %>

    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/nav.js"></script>
